.img_hero {
    height: 400px;
}

.container {
    min-height: 600px;
}

.overlay {
    position: absolute;
    top: 28%;
    left: 26%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: beige;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;  
}


.img_home img {
    width : 400px;
    margin: auto;
    display: block;
}

.hero {
    height: 500px;
}

.btn_hero {
    display: flex;
    justify-content:space-around;
}
