.header {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item {
    display: flex;
    justify-content: center;
}

.center {
    text-align: center;
    
}

.gridx {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.veg {
    height: 40px;
    text-align: center;
    align-content: center;
}

.down {
    display: flex;
    justify-content: space-around;
    align-content:center;
    
}

