<div class="container">
    <div class="hero">
        <img class="img_hero" src="/assets/images/hero.jpg" alt="">
        <div class="overlay">
            <h1>Benvenuto<br>al Ristorante Il Gambero Rosso</h1>
            <div class="btn_hero">
                <button type="button" (click)="menuRedirect()"  class="btn btn-success btn-lg">Our Menu</button>
                <button type="button"  class="btn btn-success btn-lg">Book a Table</button>
            </div>
        </div>
    </div>
    <main>
        <div class="row row-cols-lg-2 row-cols-md-2" id="home">
            <div class="img_home p-4 mb-4">
                <img src="/assets/images/home.jpg" >
            </div>
            <div class="p-4 mb-4">
                <p>
                    Although we may be a large family of 65 restaurants across the UK, every ASK serves its own unique community. Many of our restaurants feature bespoke artwork; created to reflect the spirit of the community and drawing on the beauty of an Italian counterpart. Every one different but all with the same warm Italian welcome.
                    <br><br>
                    Your local ASK is a place where you can celebrate moments that are part of your everyday and moments you’ll treasure forever – from catch-ups to triumphs, milestones and emotional reunions
                </p>
            </div>
        </div>
    </main>
</div>
